
<header class="header">
  <h1 class="title">Mongo-Scraper</h1>
  <nav class="button-group">
    <button class="button-dark" id="scrape" data-toggle="modal" data-target="#modalScraped">Scrape New Articles</button>
    <a href="/articles/viewSaved"><button class="button-dark" id="viewSaved">View Saved Articles</button></a>
  </nav>
</header>

<div id='articles'></div>
<div>
{{#each articles}}
  {{#unless saved}}
    <div>
      <a href="{{link}}" class="pull-right" target="_blank">
      </a>
      {{#if link}}
        <a href="{{link}}" class="storyLink" target="_blank">
          <h2 class="title">{{title}}</h2>
        </a>
      {{else}}
        <h3 class="title">{{title}}</h3>
      {{/if}}
      <button class="storyButton" id="saveArticle" data-id="{{_id}}">Save Article</button>
    </div>
  {{/unless}}
{{/each}}
</div>
{{>modalScrapeCount}}


